* {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(233, 233, 233);
}
a {
    text-decoration: none;
    color: black;
}
hr {
    background: grey;
}
.container {
    display: flex;
}
.left-content {
    flex: 25%;
    display: block;
    position: relative;
    margin: 5% 2% 0 10%;
    width: 100%;
    height: 100%;
}
.biodata {
    line-height: 10px;
}
.biodata p {
    font-size: 15px;
}
.biodata #private{
    color: rgb(117, 117, 117);
    padding-left: 10px;
}

.icon ul{
    padding-left: 10px;
}
.icon ul li{
    display: inline-block;
    letter-spacing: 10px;
    font-size: 25px;
}
.icon ul li a i{
    background-color: rgb(233, 233, 233);
}
a.active,ul li a i:hover{
    color: red;
  }
.info-card {
    display: block;
    margin-top: 5%;
    margin-right: 10%;
    width: 100%;
    height: 100%;
}
.image {
    position: relative;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.about span {
    padding-left: 10px;
}
.about i {
    font-size: 15px;
}
.about p {
    padding-left: 23px;
}
.card {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    margin-bottom: 30px;
    padding: 30px 30px 30px 30px;
    background-color: white;
}
.card p,i{
    background-color: white;
}
.info-card .card span {
    background-color: white;
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
}